@font-face {
    font-family: 'LeeSeoyun';
    src: url('/fonts/LeeSeoyun.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'LeeSeoyun', sans-serif;
    margin: 0;
    padding: 0;
}


.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;            /* 추가 */
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    padding: 0.6rem 0;
    background-color: white;
    border-top: 1px solid rgba(163, 155, 155, 0.3);
}

/* 모든 아이콘 공통 스타일 */
.footer-container img {
    cursor: pointer;
    display: block;
}

/* 크기만 지정하고 margin 제거 */
.Car-Off,
.Car-On {
    width: 4.5rem;
}

.Setting-Off,
.Setting-On {
    width: 3rem;
}

.Bell-Off,
.Bell-On {
    width: 3.3rem;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #FF4444;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid white;
}