@font-face {
    font-family: 'LeeSeoyun';
    src: url('/fonts/LeeSeoyun.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'LeeSeoyun', sans-serif;
    margin: 0;
    padding: 0;
}

.Main-Title {
    font-size: 80px;
    text-align: center;
    padding: 20px;
}

.Main-Title span:nth-child(1) {
    color: #75A1E7;
}

.Main-Title span:nth-child(2) {
    color: #808080;
}

.Flood-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.Flood-wrapper {
    display: inline-flex;
    animation: slideLeft  80s linear infinite;
    will-change: transform;
    white-space: nowrap;
}

.Flood-group {
    display: inline-flex;
    flex-shrink: 0;
}

.Flood-image {
    width: 800px;
    height: auto;
    display: block;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    line-height: 0;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}



/* 태블릿 (768px 이하) */
@media (max-width: 768px) {
    .Main-Title {
        font-size: 60px;
        padding: 15px;
    }

    .Flood-image {
        width: 600px;
    }

    .Flood-container {
        margin-top: 80px;
    }
}

/* 모바일 (480px 이하) */
@media (max-width: 480px) {
    .Main-Title {
        font-size: 40px;
        padding: 10px;
    }

    .Flood-image {
        width: 600px;
    }

    .Flood-wrapper {
        animation: slideLeft 90s linear infinite;
    }

    .Flood-container {
        margin-top: 220px;
    }
}

/* 작은 모바일 (320px 이하) */
@media (max-width: 320px) {
    .Main-Title {
        font-size: 32px;
        padding: 8px;
    }

    .Flood-image {
        width: 400px;
    }

    .Flood-container {
        margin-top: 50px;
    }
}