.Car-Off {
    cursor: pointer;
}

.Page-Title {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

.highlight-gray{
    color: #808080;
}

.highlight-blue {
    color: #75A1E7;
}

.water-level-image-container {
    display: flex;
    justify-content: center;
    margin: 120px 0 20px 0;
}

.water-level-image {
    width: 100%;
    max-width: 400px;
}
